*
.*

!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc
!.gitignore
!index.js
!package-lock.json
!package.json
!README.md
!UNLICENSE

!src
!src/**/*
!src/**/.*

!bin
!bin/**/*
!bin/**/.*

!dist
!dist/**/*
!dist/**/.*

!webpack
!webpack/**/*
!webpack/**/.*
